.HeaderElement {
  font-weight: 500;
  cursor: pointer;
  position: relative;
  padding-bottom: 4px;
}

.HeaderElement::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color: black;
  transition: width 0.3s ease;
}

.active::after {
  width: 100%;
}